<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <img src="images/naushad3.png" alt="Naushad" class="img-fluid img1" srcset="AITS technical" >
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p style="text-decoration:underline; font-weight:500; font-size: 26px;">Welcome to Weather App</p>

                        <h1><span style="color:gray; font-size:xx-large; font-weight:900;">"</span>I am A <span class="text_clr"> Md Naushad Alam Web Developer </span> with MVC5, .net, Python And node.js. contact for static and dynamic web site.<span style="color:gray; font-size:xx-large; font-weight:900;">"</span></h1>
                        
                        <figcaption class="blockquote-footer fs-3">
                            mdnalam1980@gmail.com <cite title="Source Title">+91 7004266508</cite>
                        </figcaption>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <a href="https://www.facebook.com/mdnalam10/" target="_blank" ><button>About Me</button></a>
                            </div>
                            <div class="col-md-6 text-nowrap">
                                <a href="https://www.rishtashadika.com" target="_blank"  ><button>Our Contribution</button></a>
                            </div>
                    </div>
                    </div>
                    

                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
   {{>footer}}
    
    <!-- Bootstrap 5 Js Link -->
    <script src="js\bootstrap.js"></script>
</body>
</html>