<footer>
        <p>Created with <span class="text-danger pulse">❤</span> AITS technical</p>
        <p>developed by <span class="text-success pulse fw-bold">Md Naushad Alam</span> Contact: 7004266508</p>
</footer>